<!DOCTYPE html>
<html>
  <head>
    <title>Vts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>   
      
    <section>
      <%= render 'shared/footer_bar' %>
    </section>

    <section>
      <%= render 'shared/footer' %>
    </section>

  </body>
</html>
